<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo.title }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .todo-details {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ddd;
        }
        .todo-details h1 {
            font-size: 2em;
        }
        .todo-details p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="todo-details">
        <h1>{{ todo.title }}</h1>
        <p>{{ todo.description }}</p>
        <p><strong>Created at:</strong> {{ todo.created_at }}</p>
        <p><strong>Important:</strong> {{ todo.important }}</p>
        <a href="{% url 'todo:todo_edit' todo.id %}">수정하기</a> <!-- 네임스페이스를 포함하여 참조 -->
        <a href="{% url 'todo:todo_list' %}">투두리스트 보기</a> <!-- 네임스페이스를 포함하여 참조 -->
    </div>
</body>
</html>
