<!DOCTYPE html>
<html lang="en">
<body>
    <form method="post">
        {% csrf_token %}
        <label for="id">ID</label>
        <input type="text" name="id" maxlength="15" required><br><br>

        <label for="name">Name</label>
        <input type="text" name="name" maxlength="30" required><br><br>

        <label for="email">Email</label>
        <input type="email" name="email" required><br><br>

        <label for="major">Major</label>
        <input type="text" name="major" maxlength="20" required><br><br>

        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" maxlength="10" required><br><br>

        <label for="password">Password</label>
        <input type="password" name="password" maxlength="15" required><br><br>

        <label for="phone_number">Phone Number</label>
        <input type="tel" name="phone_number" maxlength="13" required><br><br>

        <button type="submit">login</button>
    </form>
</body>
</html>